html, body {
  height: 100%;
  width: 100%;
  background: url(/assets/images/texture-noise.png);
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

code {
  font-size: 16px;
  font-family: Consolas, monospace;
  display: block;
}
